{% extends 'main.html' %}

{% block content %}

<div class="container-lg bg-dark">
    <hr>
    <div class="row">
        <div class="col">
            <h2 class="text-center text-light">Most Viewed</h2>
            <div class="p-5 text-light">
                {% for offer in offers %}
                <div>
            
                    <a href="{% url 'offer' offer.id %}">
                        <h5>#{{offer.id}} - {{offer.name}}</h5>
                    </a>
                    <small>Views: {{offer.views}}, Location: {{offer.location}}</small>
                </div>
                <hr>   
                {% endfor %}
                <hr>
            </div>
            <h2 class="text-center text-light">Popular Land</h2>
            <div class="p-5 bg-new text-light">
                {% for land in landtype %}
                <div>
                    <small>{{land.property_type}}</small>
                    <p>{{land.offer_set.all.count}}</p>
                </div>
                {% endfor %}
                <hr>
            </div>
        </div>

        <div class="col-9">
            <h3 class="text-center text-light">Land for Sale</h3>
            <div class="p-3 text-light">
                {% for offer in offers %}
                <div class="container">
                    <img class="img-thumbnail" src="images/farm.jpg">
                    <div class="text-center">
                        <a href="{% url 'offer' offer.id %}"><h4>{{offer.id}} -- {{offer.name}}</h4></a>
                        <b>$ {{offer.price}}</b>
                        <br>
                        <small>Views: {{offer.views}}</small>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="text-light">
                <h3>Logged in as: {{request.user.username}}</h3>
            {% else %}
                <h3>Not logged in.</h3>
            {%  endif %}
            </div>
        </div>

    </div>
</div>


{% endblock %}

