{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<hr>
<div class="text-center text-light">
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="email" placeholder="Enter Username" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password" />

        <input type="submit" value="Login" />
    </form>
    <br>
    <p>Havent signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<hr>
<div class="offset-lg-4 col-4 text-light">
    <h3 class="text-center">Register below!</h3>
    <hr><br>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
    </form>
    <p>Already signed up yet?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}