{% extends 'main.html' %}

{% block content %}

{<div class="container-lg bg-dark">
    <div class="row">
        <div class="col">
            
            <h2 class="text-center text-light">Popular Land</h2>
            <div class="p-5 text-light">
                {% for land in landtype %}
                <div>
                    <small>{{land.property_type}}</small>
                    <p>{{land.offer_set.all.count}}</p>
                </div>
                {% endfor %}
                <hr>
            </div>
        </div>
        <div class="col-9">
            <h2 class="text-center text-light">Showcase Properties</h2>
            <div class="p-3 text-light">
                <div class="container">
                    <h5>Name: {{offer.name}}</h5>
                    
                    <h5>Description: {{offer.description}}</h5>
                    <h5>Location: {{offer.location}}</h5>
                    <h5>Price: {{offer.price}} $</h5>
                    <h5>Area: {{offer.area}} acres</h5>
                    {% if offer.host == request.user %}
                    <a href="{% url 'update-offer' offer.id %}">Edit</a>
                    <a href="{% url 'delete-offer' offer.id %}">Delete</a>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>}


{% endblock %}




