{% extends 'main.html' %}

{% block content %}

<hr>
<form class="form" action="" method="POST">
{% csrf_token %}
    <div class="container-lg bg-dark">
        <h2 class="text-center">Edit Offer</h2>
        <hr>
        <div class="row">
            <div class="offset-lg-4 col-4">
                <div class="p-3 bg-dark text-light">
                    
                    <div>
                        <p>Name: {{form.name}}</p>

                        <p>Description: {{form.description}}</p>
                        <p>Location: {{form.location}}</p>
                        <p>Price: {{form.price}}</p>
                        <p>Area: {{form.area}}</p>
                        <input type="submit" value="Update">
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</form>


{% endblock %}










