:root {
    --color-bg: #4b5675;
  }
  
  /*///// style /////*/
  
  
  body {
    background-color: var(--color-bg);
    min-height: 100vh;
}

/* .container
{
    width: 0%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
} */